@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #ee0f0f;
}

.content {
  /* max-width: 600px; */
  margin: 40px auto; 
  padding: 20px;
  
}


.home-button{
  margin-top: 30px;
  font-weight: bold;
}

.create img{
  width: 100%;
}
